body {
  font-weight:
}
h1 {
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.5em;
}
.container {
  margin: 0 auto;
  font-family: roboto, sans-serif;
  font-size: 1.5em;
}
header {
  background-color: #FF9800;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  box-shadow: 3px 3px 3px lightgray;
}
section {
  border: 1px solid lightgray;
  box-shadow: 4px 4px 4px #E0E0E0;
}
code {
  background-color: #FFE0B2;
  color: black;
  font-weight: bold;
}
footer {
  text-align: right;
}
#back {
  height: 550px;
}
#boites {
  height: 550px;
}
#police {
  height: 400px;
}
#position {
  height: 400px;
}

/**=====================================mobile=================================**/

@media screen and (max-width: 640px) {
  #back {
    height: 700px;
  }
  #boites {
    height: 700px;
  }
  #police{
    height: 550px;
  }
  #position{
    height: 550px;
  }
}
